version: 2.1

setup: true

orbs: 
  # continuation: circleci/continuation@0.2.0
  path: circleci/path-filtering@0.1.3

workflows:
  setup:
    jobs:
      - path/filter:
          config-path: .circleci/next.yml
          mapping: |
            apps/app1/.* build-app1 true
            apps/app2/.* build-app2 true
            apps/app3/.* build-app3 true
