version: 2.1

parameters:
  build-app1:
    type: boolean
    default: false
  build-app2:
    type: boolean
    default: false
  build-app3:
    type: boolean
    default: false

executors:
  base:
    docker:
      - image: cimg/base:stable
    resource_class: small

jobs:
  done_not_running:
    executor: base
    steps:
      - run: echo "DONE"
  done_running:
    executor: base
    steps:
      - run: echo "DONE"
  build:
    executor: base
    steps:
      - checkout
      - run: |
          echo "test"
  build2:
    executor: base
    steps:
      - checkout
      - run: |
          sleep 30s

  build3:
    executor: base
    steps:
      - checkout
      - run: |
          sleep 60s

workflows:
  not-running:
    when:
      or:
        - not: << pipeline.parameters.build-app1 >>
        - not: << pipeline.parameters.build-app2 >>
        - not: << pipeline.parameters.build-app3 >>
    jobs:
      - done_not_running

  app1:
    when: << pipeline.parameters.build-app1 >>
    jobs:
      - build
      - done_running:
          requires:
            - build
  app2:
    when: << pipeline.parameters.build-app2 >>
    jobs:
      - build2
      - done_running:
          requires:
            - build2

  app3:
    when: << pipeline.parameters.build-app3 >>
    jobs:
      - build3
      - done_running:
          requires:
            - build3    

