version: 2.1

parameters:
  build-app1:
    type: boolean
    default: false
  build-app2:
    type: boolean
    default: false
  build-app3:
    type: boolean
    default: false

executors:
  base:
    docker:
      - image: cimg/base:stable
    resource_class: small

jobs:
  tests-done:
    executor: base
    steps:
      - run: echo "DONE"
  build-app1:
    executor: base
    steps:
      - unless:
          condition: << pipeline.parameters.build-app1 >>
          steps:
            - run: |
                circleci-agent step halt
      - checkout
      - run: |
          echo "test"
  build-app2:
    executor: base
    steps:
      - unless:
          condition: << pipeline.parameters.build-app2 >>
          steps:
            - run: |
                circleci-agent step halt
      - checkout
      - run: |
          sleep 30s

  build-app3:
    executor: base
    steps:
      - unless:
          condition: << pipeline.parameters.build-app3 >>
          steps:
            - run: |
                circleci-agent step halt
      - checkout
      - run: |
          sleep 60s

workflows:
  just-this-one:
    jobs:
      - build-app1
      - build-app2
      - build-app3
      - done:
          requires:
            - build-app1
            - build-app2
            - build-app3

