version: 2.1

parameters:
  build-app1:
    type: boolean
    default: false
  build-app2:
    type: boolean
    default: false
  build-app3:
    type: boolean
    default: false

executors:
  base:
    docker:
      - image: cimg/base:stable
    resource_class: small

jobs:
  done_not_running:
    executor: base
    steps:
      - run: echo "DONE"
  done_not_running_app1:
    executor: base
    steps:
      - run: echo "DONE"
  done_not_running_app2:
    executor: base
    steps:
      - run: echo "DONE"
  done_not_running_app3:
    executor: base
    steps:
      - run: echo "DONE"
  done_running_app1:
    executor: base
    steps:
      - run: echo "DONE"
  done_running_app2:
    executor: base
    steps:
      - run: echo "DONE"
  done_running_app3:
    executor: base
    steps:
      - run: echo "DONE"
      
  build:
    executor: base
    steps:
      - checkout
      - run: |
          echo "test"
  build2:
    executor: base
    steps:
      - checkout
      - run: |
          sleep 30s

  build3:
    executor: base
    steps:
      - checkout
      - run: |
          sleep 60s

workflows:
  # not-running:
  #   when:
  #     or:
  #       - not: << pipeline.parameters.build-app1 >>
  #       - not: << pipeline.parameters.build-app2 >>
  #       - not: << pipeline.parameters.build-app3 >>
  #   jobs:
  #     - done_not_running


  not-running-app1:
    when:
      or:
        - not: << pipeline.parameters.build-app1 >>
    jobs:
      - done_not_running_app1

  not-running-app2:
    when:
      or:
        - not: << pipeline.parameters.build-app2 >>
    jobs:
      - done_not_running_app2

  not-running-app3:
    when:
      or:
        - not: << pipeline.parameters.build-app3 >>
    jobs:
      - done_not_running_app3


  app1:
    when: << pipeline.parameters.build-app1 >>
    jobs:
      - build
      - done_running_app1:
          requires:
            - build
  app2:
    when: << pipeline.parameters.build-app2 >>
    jobs:
      - build2
      - done_running_app2:
          requires:
            - build2

  app3:
    when: << pipeline.parameters.build-app3 >>
    jobs:
      - build3
      - done_running_app3:
          requires:
            - build3    

